@font-face {
  font-family: 'icomoon';
  src: url('/src/assets/fonts/icomoon.woff?tesa50') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bell:before {
  content: "\e900";
  color: #4E5053;
}
.icon-chevron-left:before {
  content: "\e901";
  color: #52555A;
}
.icon-coffee:before {
  content: "\e902";
  color: currentColor;
}
.icon-coffee_2:before {
  content: "\e903";
  color: #fff;
}
.icon-heart:before {
  content: "\e904";
  color: currentColor;
}
.icon-home:before {
  content: "\e905";
  color: #4E5053;
}
.icon-location:before {
  content: "\e906";
  color: currentColor;
}
.icon-cart:before {
  content: "\e907";
  color: #4E5053;
}
.icon-menu:before {
  content: "\e908";
  color: #fff;
}
.icon-minus:before {
  content: "\e909";
  color: #fff;
}
.icon-plus:before {
  content: "\e90a";
  color: #fff;
}
.icon-search:before {
  content: "\e90b";
  color: #52555A;
}
.icon-sim:before {
  content: "\e90c";
  color: #fff;
}
.icon-star:before {
  content: "\e90d";
  color: #D17842;
}
.icon-times:before {
  content: "\e90e";
  color: #fff;
}
.icon-visa:before {
  content: "\e90f";
  color: #fff;
}
.icon-wallet:before {
  content: "\e910";
  color: #fff;
}
.icon-water:before {
  content: "\e911";
  color: #fff;
}
