:root {
  --font-family: "Poppins", sans-serif;
  --transition: .2s all ease-out;
  --header-color: #fff;
  --form-background: #141921;
  --placeholder-color: #52555a;
  --text-color: #aeaeae;
  --second-color: #d17842;
  --border-color: #21262e;
  --sizes-color: #141921;
}
