.btn{
    font-size: 15rem;
    font-weight: 600;
    padding: 23rem 139rem;
    color: #fff;
    border-radius: 8rem;
}
.btn--primary{
    background: rgb(77, 56, 29);
}
.btn--secondary{
    background-color: rgb(211, 151, 72);
}